.MainDash {
  /* padding-top: 1rem; */
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0 2rem 0 2rem;
  width: inherit;
}

.MainDash .tableContainer {
  padding-top: 2rem;
  width: inherit;
}

@media screen and (max-width: 1200px) {
  .MainDash {
    justify-content: flex-start;
    margin: 2rem 0 0 0;
  }

  .MainDash > h1 {
    margin: 2rem 2rem 1rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .MainDash {
    align-items: center;
  }
}
